body{
  background-color: black;
}
#container{
  margin-left: 100px;
  margin-top: 100px;

  /* display: block;
  position: relative;
  left: 60px;
  top: 200px; */

  float:left;
  width:60%
}

#sliders{
  /* position: relative;
  left: 800px;
  top: -240px; */

/* position:fixed;
right:20px; */
margin-top: 200px;
  float:right;
  width: 30%

}
span{
font-size: 35px;
font-family: "Blackadder ITC";
color: rgb(28, 134, 238);
text-shadow: lightblue 1.5px 0 1.5px;
}
#bb{
  font-family: "Blackadder ITC";
  color:black;
}
#heading{
  text-align: center;
  font-size: 80px;
  font-family: "Blackadder ITC";
  color: rgb(28, 134, 238);
  text-shadow: lightblue 1.5px 0 1.5px;
}
.posi{
  margin-left:360px;
  /* float: left;
  width: 50%; */

}
button {

  cursor: pointer;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.3s;

}

 #round1{
  float:left;
  background-color:rgb(28, 134, 238);
  color: black;
  border: 2px solid rgb(28, 134, 238);
  border-radius: 30px;
}

 #round1:hover {
  background-color: white;
  color: darkblue;
}
